*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 1500px;
    min-width: 1000px;
    background: #f2f2f2;
}
body a{
    text-decoration: none;
    color: black;
}
#bg-image{
    z-index: -1;
    width: 100%;
    height: 100%;
    min-width: 1600px;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url("../images/bg1.jpg");
}
#header{
    position: relative;
    width: 100%;
    height: 50px;
}
#header p{
    position: absolute;
    top: 15px;
    right: 340px;
    font-size: 23px;
    font-family: '幼圆';
}
#header span{
    position: absolute;
    top: 15px;
    right: 460px;
    font-size: 23px;
    font-family: '幼圆';
}
.head_div{
    position: absolute;
    right: 250px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: url("/images/userhead/default_head.jpg") center;
    background-size: 100% 100%;
}
.quit_login{
    position: absolute;
    top: 15px;
    right: 130px;
    font-size: 23px;
    font-family: '幼圆';
}
.view_deal{
    position: absolute;
    top: 15px;
    right: 20px;
    border: #f2f2f2;
    border-radius: 5px;
    width: 90px;
    height: 25px;
    background-image: url("../images/bg1.jpg");
    font-size: 20px;
    font-size: 23px;
    font-family: '幼圆';
}

.goback_index{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 23px;
    font-family: '幼圆';
}
.shopping{
    width: 1150px;
    margin: 50px auto;
    position: relative;
}
.cart_head{
    width: 100%;
    height: 100px;
    position: relative;
}
.cart_head span{
    font-family: '幼圆';
    font-size: 25px;
}
.good_item{
    border: 2px solid #666666;
    border-radius: 10px;
    width: 1100px;
    height: 160px;
    position: relative;
    margin-bottom: 20px;
}
.good_item img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
}
.good_id{
    position: absolute;
    top: 45px;
    left: 150px;
}
.good_name{
    position: absolute;
    top: 45px;
    left: 270px;
}
.good_kind{
    position: absolute;
    top: 45px;
    left: 470px;
}
.good_origin{
    position: absolute;
    top: 45px;
    left: 590px;
}
.good_price{
    position: absolute;
    top: 45px;
    left: 710px;
}
.good_num{
    position: absolute;
    top: 45px;
    left: 830px;
}
.good_op{
    position: absolute;
    top: 45px;
    left: 950px;
}
.good_id_con{
    position: absolute;
    top: 65px;
    left: 170px;
}
.good_name_con{
    position: absolute;
    top: 65px;
    left: 270px;
}
.good_kind_con{
    position: absolute;
    top: 65px;
    left: 470px;
}
.good_origin_con{
    position: absolute;
    top: 65px;
    left: 590px;
}
.good_price_con{
    position: absolute;
    top: 65px;
    left: 710px;
}
.good_num_con{
    position: absolute;
    top: 65px;
    left: 830px;
}
.good_op_con{
    position: absolute;
    top: 65px;
    left: 950px;
    background: cadetblue;
    width: 90px;
    height: 30px;
    border-color: cadetblue;
    border-radius: 5px;
    color: white;
    font-family: '幼圆';
    font-size: 23px;
    text-align: center;
}
.total{
    float: left;
    margin-left: 50px;
    font-size: 30px;
    font-family: '幼圆';
}
.submit_bt{
    float: right;
    margin-right: 100px;
}
.creatDealbyCart{
    background: cadetblue;
    border-color: cadetblue;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-size: 24px;
    color: white;
    font-family: '幼圆';
}

